<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.andrukhiv.mynavigationdrawer">

    <!-- Позволяет приложениям открывать сетевые сокеты. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Приложение сможет получать доступ к точному местоположению - малювати маршрут в Винний тур -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--Позволяет приложению инициировать телефонный звонок без прохождения через пользовательский
    интерфейс Dialer для подтверждения пользователем вызова - телефонувати в Винний тур-->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!--Для застосування картинок фоном головного екрану-->
    <uses-permission android:name="android.permission.SET_WALLPAPER" />


    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Підтримка ярликів швидкого доступу до розділів додатку -->
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".activity.DetailsActivity"
            android:theme="@style/DetailTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.KitchenActivity"
            android:label="@string/drawer_item_alco_kitchen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.KitchenDetailsActivity"
            android:theme="@style/DetailTheme" />
        <activity
            android:name=".activity.ReproductionActivity"
            android:label="@string/drawer_item_reproduction" />
        <activity
            android:name=".activity.BudovaActivity"
            android:label="@string/drawer_item_structure_formation" />
        <activity
            android:name=".activity.RegionActivity"
            android:label="@string/drawer_item_summ_temperature" />
        <activity
            android:name=".activity.LibraryActivity"
            android:label="@string/drawer_item_library"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SortableActivity"
            android:label="@string/drawer_item_speсifications"
            android:screenOrientation="sensorLandscape" />

        <!-- Для використання сповіщеннь Firebase -->
        <service android:name=".NotificationMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!--
         Встановити спеціальний значок за замовчуванням. Це використовується, коли для вхідних
         повідомлень не встановлено піктограму. Див. README (https://goo.gl/l4GJaQ) для
         отримання додаткової інформації.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/dialog_icon_logo" />
        <!--
        Встановити колір, який використовується з вхідними повідомленнями.
        Це використовується, якщо для вхідного не встановлено жодного кольору повідомлення
        про повідомлення Див. README (https://goo.gl/6BKBk7) для отримання додаткової інформації.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/drawer_item_settings"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/Theme.Preferences" />

        <activity android:name=".activity.MapsActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activity.BugActivity"
            android:label="@string/drawer_item_bug" />

        <activity
            android:name=".activity.GalleryActivity"
            android:label="@string/drawer_item_gallery"
            android:screenOrientation="portrait"
            android:theme="@style/GalleryTheme" />

        <activity
            android:name=".activity.LaboratoryActivity"
            android:label="@string/drawer_item_laboratory"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LaboratoryTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".activity.LaboratorySugarActivity"
            android:label="@string/label_sugar" />

        <activity
            android:name=".activity.LaboratoryAcidityActivity"
            android:label="@string/label_acidity" />

        <activity
            android:name=".activity.LaboratoryTableActivity"
            android:label="@string/label_table" />

        <activity
            android:name=".activity.PreparatyActivity"
            android:label="@string/drawer_item_preparaty" />
    </application>

</manifest>